<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot_vue_back.Mapper.EbookInvolvedMapper">
    <select id="exitInvolved" resultType="java.lang.Integer">
        select count(1)
        from ebook_involved
        where id = #{id}
    </select>
    <insert id="insertInvolved">
        insert into ebook_involved (id,involved,`option`)
        values (#{id}, #{involved}, #{option})
    </insert>
<update id="updateInvolved" >
        update ebook_involved
        set `involved` = #{involved},`option` = #{option}
        where id = #{id}
    </update>
    <delete id="deleteInvolved">
        delete from ebook_involved
        where id = #{id}
    </delete>
    <select id="selectInvolved" resultType="com.example.springboot_vue_back.domain.EbookInvolved">
        select involved
        from ebook_involved
        where id = #{id}
    </select>

</mapper>